body{
    font-family:verdana;
}

.container-all{
    display: flex;
    justify-content: center;
}

.container-descktop{
    background-color: #eee;
    width: 60rem;
    height: 55rem;
}

/* Menus inicaiales */
.menu-nav{
    background-color: #0067B4;
    width: 58rem;
    height: 2rem;
    margin: 16px;
}

.menu-btn{
    width: 77.3px;
    height: 2rem;
    margin: 0;
    border: none;
    margin-right: -5.6px;
    cursor: pointer;
}

.menu-btn-dark{
    background-color: #0067B4;
    font-weight: 800;
    color: #fff;
}

.menu-btn-active{
    background-color: #e38f09;
}

/* Titulo de pagina finanzas */
.title-finance-active{
    width: 58rem;
    height: 3rem;
    margin: 16px;
    text-align: center;
    padding-top: 0.9rem;
}

.title-finance{
    font-size: 1.7rem;
    margin: 0;
}

/* Botones de finanzas */
.finance-type-buttons{
    background-color: #0067B4;
    width: 58rem;
    height: 2rem;
    margin: 16px 16px 16px 16px;
}

.type-btn{
    width: 11rem;
    height: 2rem;
    margin: 0;
    border: none;
    margin-right: -5.6px;
    cursor: pointer;
}

.btn-clear{
    background-color: #33A8FF;
    font-weight: 800;
    color: #fff;
}

.btn-dark{
    background-color: #0067B4;
    font-weight: 800;
    color: #fff;
}

/* formulario de pagos fijos */
.form-pagos-fijos{
    display:flex;
    align-items:Center;
    background-color: #0067B4;
    width: 58rem;
    height: 2rem;
    margin: 16px 16px 0px 16px;
}

.form-pagos-fijos-bottom{
    display:flex;
    align-items:Center;
    background-color: #0067B4;
    width: 58rem;
    height: 2rem;
    margin: 0px 16px 16px 16px;
}

.div-left-bottom{
    display:flex;
    align-items:Center;
    width: 40rem;
}

.div-right-bottom{
    display: flex;
    width: 17.77rem;
    justify-content: flex-end;
}

.btn-color{
    margin: 7px;
    width: 1rem;
    height: 1rem;
    border: none;
    padding: 0;
    color: #fff;
    cursor: pointer;
}

.btn-color-yellow{ background-color: #e4d609 !important;}
.btn-color-blue{ background-color: #3c8cbc !important;}
.btn-color-gray{ background-color: #83939f !important;}
.btn-color-green{ background-color: #117701 !important;}
.btn-color-orange{ background-color: #b57000 !important;}
.btn-color-black{ background-color: #000000 !important;}
.btn-color-dark-blue{background-color: #124a6d !important;}
.btn-color-purple{background-color: #62126d !important;}

#btn-clean-pay{
    background-color: #124a6d;
}

.desc-color{
    font-size: 0.67rem;
    color: #fff;
}

.input-pagos-fijos{
    padding-left: 10px;
    width: 9rem;
    height: 1.83rem;
    margin: 0;
    border: none;
    margin-right: 1px;
    margin-top: -1px;
}

#dia-ven{
    width: 3.3rem;
}

.select-form-pagos-fijos {
    padding-left: 10px;
    width: 8.72rem;
    height: 2rem;
    margin: 0;
    border: none;
    margin-right: 1px;
    margin-top: 0px;
}

.pay-btn{
    width: 8rem;
    height: 2rem;
    margin: 0;
    border: none;
    margin-right: -5.6px;
    cursor: pointer;
}

.btn-dark-pay{
    background-color: #18b400;
    font-weight: 800;
    color: #fff;
}

/* Listado de pagos fijos */
.div-list-pagos-fijos{
    display: flex;
    background-color: aquamarine;
    width: 58rem;
    height: 39rem;
    margin: 16px;
}

.card-all{
    width: 58rem;
    height: 39rem;
    text-align: center;
}

.card-pagos-fijos{ background-color: #0067B4; }

.title-pagos-fijos{
    display: flex;
    text-align: center;
    height: 1rem;
    width: 56rem;
    margin: 1rem;
    align-content: center;
    justify-content: center;
    color: #fff;
}

.title-pagos-fijos>h6{
    margin: 0;
    margin-right: 10px;
}

.pagos-fijos{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 32rem;
    width: 56rem;
    background-color: #fff;
    margin: 1rem;
}

/* Filtro de pagos fijos */
.form-filtro-pagos-fijos{
    display:flex;
    align-items:Center;
    background-color: #0067B4;
    width: 56rem;
    height: 2rem;
    margin: 16px 16px 16px 16px;
}

.select-pagos-fijos{
    padding-left: 10px;
    width: 16rem;
    height: 1.83rem;
    margin: 0;
    border: none;
    margin-right: 1px;
    margin-top: -1px;
}

#btn-filter-pay{
    background-color: #013f6e !important;
}

/* Items de tarjeta de pagos fijos */
.card-item-pago-fijo{
    height: 3rem;
    width: 53rem;
    /* border: 1px solid red; */
    margin: .5rem .5rem .5rem .5rem;
}

.sup-content-card{
    width: 53rem;
    height: 1.5rem;
    display: flex;
}

.down-content-card{
    width: 53rem;
    height: 1.5rem;
    display: flex;
}

.desc-item{ width: 42rem; background-color: #83939f; }
.monto-item{ width: 11rem; background-color: #145279; }
.estado-item{ width: 6rem; background-color: #b40000; }
.estado-deuda{ width: 6rem; background-color: #b40000; }
.estado-pagado{ width: 6rem; background-color: #18b400; }
.vencimiento-item, .fecha-pago-item{ width: 21rem; background-color: #eee; }
.opc-item{ display: flex; justify-content: flex-end; width: 5rem; }

.desc-item>h5{
    margin: 0;
    padding-left: 1rem;
    text-align: center;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #fff;
}

.monto-item>h5{
    margin: 0;
    text-align: center;
    padding-left: 1rem;
    font-size: 16px;
    color: #fff;
    margin-top: 2px;
}

.estado-item>h5{
    margin: 3px 0 3px 0;
    text-align: center;
    color: #fff;
}

.vencimiento-item>h5, .fecha-pago-item>h5{
    margin: 0;
    text-align: center;
    padding-left: 1rem;
}

.opc-item>button{
    border: none;
    color: #fff;
    width: 1.7rem;
    cursor: pointer;
}

.pagando-btn{ background-color: #18b400; }
.cancel-pay-btn{ background-color: #8b0101; }
.edit-btn{ background-color: #013f6e; }
.delete-btn{ background-color: #b40000; }

.info-item{
    width: 53rem;
    height: 3rem;
    background-color: #3c8cbc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item>h5{
    color: #fff;
    font-size: 1rem;
}